[2016-01-15 05:50] esusatyo opened #1 "Feature request: save original icon before badging and add command to revert to original icon"
This is a great tool! How hard would it be to save the original icons somewhere (preferably hidden, so does not mess with git repo), and then add a command like `badge --revert` to go back to the original icon?

[2016-01-15 13:43] jeeftor commented on #1
This is where you want to use git - and you can revert the image assets afterwards.

[2016-01-15 16:42] jeeftor opened #2 "Alpha badge support?"
how about support for an ALPHA badge as well as beta?

[2016-01-18 19:18] HazAT opened #3 "Add verbose option"
see @ https://github.com/fastlane/fastlane/issues/1127

[2016-01-19 12:42] mathiasAichinger opened #4 "Bad Quality of the outcoming app icon"
I discoved that the quality of the app icon gets bad when adding the beta badge to it.

[2016-01-19 17:44] HazAT commented on #4
will look into this, probably a setting in imagemagick

[2016-01-19 17:46] HazAT commented on #1
pretty much what @jeeftor said ... sorry wontfix

[2016-01-19 17:46] #1 closed

[2016-01-19 17:47] HazAT commented on #2
easy feature, will be added next version

[2016-01-20 21:11] mathiasAichinger commented on #4
Cool. I just saw that I'm also getting some warnings.
[22:09:36]: [SHELL]: gm identify: iCCP: known incorrect sRGB profile (./WatchApp/WatchAppPRO.xcassets/AppIcon.appiconset/29x29@2x.png).
[22:09:36]: [SHELL]: gm composite: iCCP: known incorrect sRGB profile (./WatchApp/WatchAppPRO.xcassets/AppIcon.appiconset/29x29@2x.png).
[22:09:36]: [SHELL]: gm convert: profile matches sRGB but writing iCCP in

[2016-01-24 19:58] mathiasAichinger commented on #4
Looks like an ImageMagick issue. Updated it and now everything is working perfectly.

[2016-01-24 19:58] #4 closed

[2016-01-27 05:03] adrienbrault opened #5 "Badge is small on big icons"
Is it possible to have it be bigger on big icons like for iphone 6 plus ?

Great project btw :)

[2016-01-30 09:48] HazAT commented on #3
added in version 0.0.5

[2016-01-30 09:48] #3 closed

[2016-01-30 09:48] HazAT commented on #2
added in version 0.0.5

[2016-01-30 09:48] #2 closed

[2016-02-02 14:34] carlosefonseca opened #6 "Fastlane integration is broken"
Fastlane crashes when running with latest `badge` gem. See this issue: https://github.com/fastlane/fastlane/issues/1260

[2016-02-02 14:54] carlosefonseca opened #7 "Targets"
Is it possible to change only the files for a specific assets folder, or a specific target, or even just a folder?

[2016-02-02 14:55] HazAT commented on #7
Not yet but good idea.

[2016-02-02 15:26] carlosefonseca opened #8 "Runs all the icons even when shields.io times out"
shields.io is down but badges still changes all the icons

![](https://dl.dropboxusercontent.com/s/ihgwdqnim8juasg/Screen%20Shot%202016-02-02%20at%2015.25.15.png?dl=0)

[2016-02-02 21:57] HazAT commented on #6
Fixed with new fastlane version 1.57.0

[2016-02-02 21:57] #6 closed

[2016-02-04 15:13] juanuribeo13 opened #9 "shield.io always times out"
I'm always getting a timeout when loading the images from **shield.io**. After changing the `shield_io_timeout` in the following [file](https://github.com/HazAT/badge/blob/master/lib/badge/base.rb) it started working for me. It would be nice to have a parameter to set this timeout for people that doesn't have a good network connection.

[2016-02-09 15:56] jtligon opened #10 "crash in MiniMagick::Invalid on jenkins"
running on jenkins

crash report c53836f88f90e92fb2a6aad1530badd5

I've triple checked that ImageMagick(6.9.3-0) and GraphicsMagick(1.3.23) ARE installed

[2016-02-09 16:47] HazAT commented on #10
Did you try to run add this to your `PATH` in Jenkins?

`PATH=$PATH:/usr/local/bin`

[2016-02-09 17:38] jtligon commented on #10
I did, and that moved me on to a new error, which is my inexperience with shield.io

Thanks @HazAT

[2016-02-09 17:38] #10 closed

[2016-02-11 09:25] keeferty opened #11 "Badge crashes at start"
Crashes each time for me. Crash report number 7bf081fcf3dafd4e362e04059805b00f
[code]

[2016-02-11 09:27] HazAT commented on #11
have you checked that you have imagemagick installed?
and if you run it in jenkins make sure this is in your PATH env variable
`PATH=$PATH:/usr/local/bin`

[2016-02-11 11:54] keeferty commented on #11
Yup.
[code]

[2016-02-11 11:56] HazAT commented on #11
http://stackoverflow.com/a/12253801

[2016-02-11 11:59] keeferty commented on #11
Man i suck :P
Thanks, confirmed working

[2016-02-11 13:27] #11 closed

[2016-02-12 13:12] HazAT commented on #9
added in version 0.2.0

[2016-02-12 13:12] #9 closed

[2016-02-12 13:13] HazAT commented on #8
fixed in version 0.2.0

[2016-02-12 13:13] #8 closed

[2016-02-12 13:13] HazAT commented on #7
added in version 0.2.0 with --glob

[2016-02-12 13:13] #7 closed

[2016-02-15 19:09] bartoszj opened #13 "New feature: any image"
Hi,

First of all, thanks for this great tool. But it would be nice If this tool could add badge to any image from any place, not only app icon. I thought, if you can add `path` parameter which will be a path to the image, or list / array of paths to images. Or maybe path to directory with images to replace.

[2016-02-15 19:51] HazAT commented on #13
Already there ... Look at the `glob` parameter

[2016-02-15 20:06] bartoszj commented on #13
😍. Great, I'll test it tomorrow. Thanks a lot and sorry for confusion.

[2016-02-15 20:06] #13 closed

[2016-02-22 18:29] #5 closed

[2016-03-29 09:11] luvacu opened #18 "SSL error"
Hi, I'm trying to use `badge` with `fastlane` (1.68.0) and I keep getting the same SSL error:
[code]
 Any thoughts on how to solve it? I'm running fastlane/badge on OS X Yosemite 10.10.5 with stock ruby 2.0 (`rvm` is not installed).

Thank you! 👏

[2016-04-12 12:17] NSCabezon opened #19 "Icon for PRO"
Hi, I was wondering what should you do on your production lane, since this gem modifies the original icon, wouldn't it be better if it modified a copy of the icon o something like that?

[2016-04-13 13:43] HazAT commented on #19
Technically you are right and I heard this issue before.
But I assume that everyone that uses this gem uses git (or any other versioning system) for their version control.

So it is easy after the release to reset the icons to their original state.

[2016-04-13 13:43] #19 closed

[2016-04-20 22:19] arunks commented on #18
Any update on this, I am also running into this same issue.
Thanks!

[2016-04-29 17:10] Gimungagap opened #20 "Lack of dependencies"
Mac OS, iOS test project.
I've installed the gem:

`sudo gem install badge`

Navigated to a folder of a test ios project and executed a command:

`badge`

Got an error:

Tried to install ImageMagick and GraphicsMagick:

`sudo gem install image_magick`

`sudo gem install graphicsmagick`

The error still the same.
What am I doing wrong?

[2016-05-03 18:53] gapl opened #21 "Throwing 520 origin error"
When using badge with a custom shield without a beta badge, I am getting an error thrown randomly.

It's very sporadic, but errors my lane quite often.

The error thrown is `520 Origin Error`.

[2016-05-03 21:46] dozzman commented on #21
Having the same issue here, seems like its only happening in a lane, since when i run 'fastlane run badge' it works every time.

[2016-05-04 08:56] lucatorella opened #23 "Gem:ConflictError"
I updated fastlane to 1.84, and I'm getting the following error now.

[code]

I just have a lane with a badge step inside.

[2016-05-04 12:34] elkraneo commented on #23
same here:
/Library/Ruby/Site/2.0.0/rubygems/specification.rb:2112:in `raise_if_conflicts': Unable to activate badge-0.4.0, because mini_magick-4.5.1 conflicts with mini_magick (~> 4.0.2) (Gem::ConflictError)

[2016-05-04 15:31] HazAT commented on #20
possible duplicate https://github.com/HazAT/badge/issues/23

[2016-05-04 15:57] NSCabezon commented on #23
How exactly did you solved it? I removed 4.0.4 and it crashes and with 4.5.1 same :/

[2016-05-04 16:06] HazAT commented on #23
Should be fixed in new badge version 0.4.1

[2016-05-04 16:07] HazAT commented on #18
shield.io is not a very good service ... added failsafe and retry mechanisms to prevent errors.

Please update badge to 0.4.1 ... this version should fix all your errors.

[2016-05-04 16:07] #18 closed

[2016-05-04 16:07] #23 closed

[2016-05-04 16:07] HazAT commented on #21
shield.io is not a very good service ... added failsafe and retry mechanisms to prevent errors.

Please update badge to 0.4.1 ... this version should fix all your errors.

[2016-05-04 16:07] #21 closed

[2016-05-04 16:08] HazAT commented on #20
Please update badge to 0.4.1

[2016-05-04 16:08] #20 closed

[2016-05-04 19:32] danielpetroianu commented on #20
Issue still reproduces.
I've uninstalled badge and it's dependencies, and reinstalled badge v 0.4.1, and the same error occurs.
I'm I the only one?

[2016-05-04 22:50] HazAT commented on #20
Can you check you environment for the PATH var

it should contain `PATH=$PATH:/usr/local/bin` otherwise it will not find imagemagick

[2016-05-05 05:12] danielpetroianu commented on #20
/usr/local/bin is in $PATH. Also installed badge with sudo. Same result as above.

[2016-05-05 07:28] danielpetroianu commented on #20
As the error states, `ImageMagick/GraphicsMagick is not installed` on my machines.
This is not a bug for `badge`, but it does not state in the documentation steps to install this dependencies.

[minimagick](https://github.com/minimagick/minimagick) states [`ImageMagick or GraphicsMagick command-line tool has to be installed.`](https://github.com/minimagick/minimagick#requirements)

Maybe the readm

[2016-05-05 07:51] HazAT commented on #20
OK ... so now it works for you?

[2016-05-05 07:54] danielpetroianu commented on #20
Yes. @Gimungagap can you try as well?
Are there any quarks with this steps:
# brew install imagemagick
# gem install badge [if not already installed]
# run badge

[2016-05-05 11:23] Gimungagap commented on #20
@danielpetroianu yup, that fixes the issue. Thanks a lot.
I also tried MiniMagick installation via gems and that didn't solve the problem but brew installation did the trick.

[2016-05-06 07:53] gapl opened #25 "Version 0.4.1 silently ends lane"
After updating to v0.4.1 to get rid of the thrown 520 errors, they are in fact gone but now my lanes don't finish up properly. Fastlane just silently ends the lane execution.

Print out:

[code]

[2016-05-08 07:59] HazAT commented on #25
Can you please run your fastlane command with the `--verbose` option to get more output.
Thanks

[2016-05-23 22:10] JaviSoto opened #26 ""undefined method `log`" crash with latest fastlane"
It seems like `Helper.log` no longer exists.

[code]

[2016-05-23 23:18] KrauseFx commented on #26
Fixed with https://github.com/HazAT/badge/pull/27

[2016-05-24 17:38] KrauseFx commented on #26
We actually think of rolling back the removing of the Helper.log

[2016-05-24 20:48] KrauseFx commented on #26
We just pushed a new fastlane_core release that fixes this issue, please run `bundle update` or `gem update fastlane_core` to get the latest version 🚀

This gem doesn't need to be updated to get it work again 👍

[2016-06-01 19:13] #26 closed

[2016-06-01 20:07] #25 closed

[2016-06-15 10:55] tshtrifork opened #28 "bad URI(is not URI?)"
I'm getting the following error

[code]

[2016-06-15 11:50] HazAT commented on #28
Can you send me your command line call oder fastlane config?

[2016-06-29 16:53] #28 closed

[2016-08-11 11:54] chezhong commented on #18
Still running to the same issue here.
badge 0.4.2

[19:47:38]: Start adding badges...

Looking for related GitHub issues on fastlane/fastlane...

➡️  Error when upload ipa to testflight
   https://github.com/fastlane/fastlane/issues/2333 [closed] 5 💬
   07 Mar 2016

➡️  Intermittent SSL errors
   https://github.com/fastlane/fastlane/issues/2075 [closed] 35 💬
   18 Jun 2016

➡️  sslv3 alert handsha

[2016-10-03 14:15] skywinder opened #30 "Can't create beta badge for andoird app."
I tried to run badge with different params.

I created a lane for fastlane and specify the path to png file in field "path". But have no luck.
How to make a badge for specific png file? (or for android project?)

[2016-10-03 16:04] skywinder commented on #30
By digging in source code I found key `--glob`
it should be path with regex of files that have to be changed.
in my case it was: ` "/app/src/main/res/mipmap-xxxhdpi/*.{png,PNG}"`
Please specify within`-h` option to clarify.
Regards.

[2016-10-04 07:48] dcordero commented on #30
@skywinder This parameter is already documented in README.md and also when listing the available options:

[code]

[2016-10-04 09:54] skywinder commented on #30
Here is an output for `badge --help`:

[code]

[2016-10-11 20:53] faithfracture opened #31 "Can't badge tvOS icons"
README.md claims badge works for tvOS projects, but if I run badge in my tvOS project directory, all I get is a `Could not find any app icons...` message.

[2016-10-11 21:07] dcordero commented on #31
@faithfracture due to the fact that tvOS icons are parallax icons, which are actually composed by 3 different images (Front, Middle and Back), the badge or shield could be applied to any of them depending on the design.

That is why badge needs to be adjusted using the parameter  `--glob=` which indicates where to find the icon.

For example:
`badge --glob="/**/Front.imagestacklayer/Content.images

[2016-10-11 21:09] faithfracture commented on #31
Ah, ok. I do see that now under the Usage section. Thanks!

[2016-10-11 21:09] #31 closed

[2016-11-09 18:03] riyaz opened #32 "Any sample snippet to make it work for Android icon?"
I use badge with fastlane for Android, couldn't make it work, what's the right way?

[code]

[2016-11-09 21:27] HazAT commented on #32
Should be correct ... just make sure the path really exists
Do something like
[code]
And check the path ...

[2016-11-10 04:26] riyaz commented on #32
@HazAT I have verified file does exists and path is correct.

[code]

[2016-11-10 04:37] riyaz commented on #32
Just to debug further I copied source from badge/lib/badge/runner.rb and it works fine, I mean it prints the full path of png without any issues, looks like its not working if we pass through fastlane

[code]

[2016-11-10 05:31] khanghoang commented on #32
@riyaz mine is
[code]
Please notice the `custom` one

[2016-11-10 05:50] riyaz commented on #32
@khanghoang thanks for the hint, issue is with the path which starts with /, I was giving absolute path which is not working, below snippet works fine

[code]

[2016-11-10 05:50] #32 closed

[2016-11-23 15:33] oiledCode opened #34 "unable to badge app on iOS"
Hello,
I've tried to integrate your gem to badge my app icon with no luck so far.
Everytime I launch the badge command I receive the following error :

![screen shot 2016-11-23 at 16 31 31](https://cloud.githubusercontent.com/assets/580402/20567785/58c277f2-b19a-11e6-8098-863dbbd1b1cd.png)

My env : OSX 10.11.5, imagemagick gem installed
Thanks in advance for your help

[2016-11-23 16:24] dcordero commented on #34
@oiledCode could you please sent the logs when adding the option `--verbose` to badge?

[2016-11-23 17:31] oiledCode commented on #34
@dcordero
<img width="1540" alt="screen shot 2016-11-23 at 18 25 21" src="https://cloud.githubusercontent.com/assets/580402/20572094/4f57b1d6-b1aa-11e6-916b-30b404ca82e5.png">

What I don't understand in the output is the filename badge is looking for. For example my filename is AppIcon-40@2x.png and badge look for AppIcon-40@2x.png[0].

So it seems to me that the index of the file in the array, p

[2016-11-23 17:55] dcordero commented on #34
I am not able to reproduce it. Could you try the following commands to apply badge on Dash Application? We might be different environments. Otherwise a simple project reproducing the error would be really appreciated.

[code]

[2016-11-24 09:11] oiledCode commented on #34
@dcordero
Same result
<img width="1571" alt="screen shot 2016-11-24 at 10 08 56" src="https://cloud.githubusercontent.com/assets/580402/20592491/1639129e-b22e-11e6-8feb-669679f8dd2e.png">

As additional info my ruby version is :

[2016-12-08 14:32] #30 closed

[2016-12-15 20:49] ndonald2 opened #37 "Dependencies cannot be resolved with fastlane 2.0"
The dependencies for badge cannot currently be resolved against the fastlane 2.0 dependencies.

A gemfile with the following:

[code]

Produces the dependency error:

[code]

[2016-12-16 01:00] marcferna commented on #37
You can use `gem 'badge', git: 'git@github.com:HazAT/badge.git'` in your Gemfile to point to this repo until the owner releases a new version of the gem.

[2016-12-16 02:21] tbaranes commented on #37
Si
[code]

[2016-12-16 02:21] tbaranes commented on #37
Iikzild_

[2016-12-16 07:54] HazAT commented on #37
Hey ...
Just released version `0.7.0` ... please update, the problem should be fixed

[2016-12-16 10:32] #37 closed

[2017-01-15 19:46] deepumukundan opened #38 "Error loading image from Shields.io"
When tried the last sample to badge and shield
`badge --shield "Version-0.0.3-blue" --dark --shield_no_resize --verbose --shield_io_timeout 60`

I am getting the message below in verbose mode.

INFO [2017-01-15 11:15:04.38]: Start adding badges...
DEBUG [2017-01-15 11:15:04.38]: Trying to load image from shield.io. Timeout: 10s
DEBUG [2017-01-15 11:15:04.38]: URL: https://img.shields.io/badge/Vers

[2017-01-15 19:50] deepumukundan opened #39 "Timeout logged to console does not print correct parameter value, gets capped"
When tried the last sample to badge and shield with a timeout,
`badge --shield "Version-0.0.3-blue" --dark --shield_no_resize --verbose --shield_io_timeout 120`

I am getting the message below in verbose mode.

INFO [2017-01-15 11:15:04.38]: Start adding badges...
DEBUG [2017-01-15 11:15:04.38]: Trying to load image from shield.io. Timeout: **10s**
DEBUG [2017-01-15 11:15:04.38]: URL: https://img.

[2017-01-20 12:11] HazAT commented on #38
Does this issue still persist?

[2017-01-20 12:11] HazAT commented on #39
#38 Duplicate

[2017-01-20 12:11] #39 closed

[2017-01-29 06:12] deepumukundan commented on #38
Not anymore. Thanks! Closing the issue

[2017-01-29 06:12] #38 closed

[2017-02-01 12:15] fuggly opened #40 "Proxy?"
Hiyas

I'm kind new to this, so I apologize in advance if I ask a stupid question here, but to be able to use badge with --shield over a proxy, what would I need to do so that fetching from shield.io works over the proxy?

[2017-03-13 20:57] jamesdaniels commented on #40
Now that badge is using curb, you can use the environment variables that curl will respect

[code]

via curl's manpage

[2017-03-13 20:59] jamesdaniels commented on #40
This should satisfy the issue, @HazAT feel free to close.

[2017-03-13 20:59] HazAT commented on #40
💯

[2017-03-13 20:59] #40 closed

[2017-03-13 21:08] HazAT commented on #34
I will close this for now since is not reproducible

[2017-03-13 21:08] #34 closed

[2017-03-14 11:54] Tobrek opened #42 "0.8.0 MiniMagick::Invalid at jenkins"
After updating badge to 0.8.0 we get the following error at Jenkins:
fastlane finished with errors

Looking for related GitHub issues on fastlane/fastlane...

/Users/Jenkins/.rvm/gems/ruby-2.2.1/gems/mini_magick-4.5.1/lib/mini_magick/image.rb:204:in `rescue in validate!': [!] `identify /var/folders/w1/cs2bv4md13s7ksh38yvc7crw000088/T/mini_magick20170314-30338-zm1o7x.png` failed with error: (MiniMa

[2017-03-14 12:01] HazAT commented on #42
Can you please run it with `--verbose` and send me the output. Just want to be able to reproduce it.
Also check if you have `rsvg-convert` installed (which you probably have).

[2017-03-14 13:11] Tobrek commented on #42
rsvg-convert is installed with version 2.40.16

Output of
badge --shield "Version-1.2-green" --verbose --glob "/**/mipmap*/*.{png,PNG}"
is:
[14:08:26]: Start adding badges...
[14:08:26]: './build/intermediates/res/merged/debug/mipmap-hdpi/ic_launcher.png'
[14:08:27]: './build/intermediates/res/merged/debug/mipmap-hdpi/ic_launcher.png'
[14:08:27]: './build/intermediates/res/merged/debug/mipmap-mdpi

[2017-03-14 14:47] carlosefonseca commented on #42
I'm hitting the same problem…

[code]

[2017-03-14 14:48] HazAT commented on #42
I am on it guys, stay tuned

[2017-03-14 15:07] HazAT commented on #42
Guys update to `0.8.2` this fixes the issue.

[2017-03-14 17:19] Tobrek commented on #42
Thank you. It's running again without problems.

[2017-03-14 17:28] beloso opened #43 "Running from fastlane is failing"
I have installed `librsvg` with brew.
I am running badge from fastlane in jenkins and I keep getting this error.

[code]

Not sure what I am mussing here

[2017-03-15 07:24] wuaschtikus commented on #43
Same here.

[2017-03-15 07:49] HazAT commented on #43
Can someone of you run it with `--verbose` to get more information about what's happening?
Thx

[2017-03-15 07:52] wuaschtikus commented on #43
Seems there is an issue when executing these two lines in `runner.rb`.

[code]

There seems to be no `shield`to delete, or something like that.

[2017-03-15 07:55] HazAT commented on #43
@wuaschtikus Thx ... just pushed an update ... please update to `0.8.3`
`gem update badge`

[2017-03-15 07:59] wuaschtikus commented on #43
@HazAT Running with verbose gives nearly the same output. No further exceptions are logged...

[2017-03-15 07:59] wuaschtikus commented on #43
Excellent.

[2017-03-15 08:05] #42 closed

[2017-03-19 11:55] n3trino commented on #43
@HazAT  can you see the following exception when running badge from fastlane:

[code]

[2017-03-19 22:43] HazAT commented on #43
@n3trino I am not really sure that this is related to badge ...
Check this issue https://github.com/fastlane/fastlane/issues/1267

[2017-03-20 20:20] #43 closed

[2017-03-22 07:51] mzgreen opened #44 "Android - badge is not added"
I'm trying to add a badge in Android project. My setup looks like this:

`badge(dark: true, glob:"/app/src/debug/res/mipmap-*/ic_launcher.png")`

Build log shows:
[code]

So it seems like everything went ok. But badges are not present on my icons. Adding `verbose: true` doesn't print anything more than above. Any ideas?

Seems like a problem with CI server, because it adds badges when I run it loc

[2017-03-22 08:06] #44 closed

[2017-03-23 09:45] zvonicek opened #45 "Dependency on librsvg"
Hi, I noticed Badge now requires librsvg to proceed, which makes using it bit complicated for us. We're running Fastlane with Badge on Bitrise CI which unfortunately don't have librsvg pre-installed. We could enforce installing it from brew on each build but this takes a great deal of time and significantly prolonging our build time.

Would it be possible to use Badge even if librsvg is not presen

[2017-03-23 09:53] HazAT commented on #45
Will make librsvg optional 👍

[2017-03-23 21:25] HazAT commented on #45
Update to `0.8.4` 🤜 🤛

[2017-03-23 21:25] #45 closed

[2017-04-13 19:47] AnthonyMDev opened #46 "Fastlane failure with badge"
Getting a failure using a fastlane lane with `badge`

[code]

I then tried updating and that failed `ImageMagick`. Any ideas?

[code]

[2017-04-13 19:53] AnthonyMDev commented on #46
I was able to get the latest version of `ImageMagick` using the answer here.
http://stackoverflow.com/questions/7053996/how-do-i-install-imagemagick-with-homebrew

Now I'm getting this error when running my fastlane

[code]

[2017-04-14 10:20] Austinate commented on #46
Same output as above for me ^

[2017-04-14 10:31] Austinate commented on #46
@AnthonyMDev i was able to fix issue by manually installing "imagemagick@6" via Homebrew

[2017-04-17 06:58] kjian commented on #46
same here

[2017-04-17 17:54] AnthonyMDev commented on #46
Thanks. I got it working!

[2017-04-17 17:54] #46 closed

[2017-04-24 11:53] kschrage commented on #46
Had the same problem. Tracked it down to a shields.io-response of 205 bytes within "load_shield".

Sadly I can't reproduce it anymore right now. Would be interesting to see what those 205 bytes are about.

[2017-05-04 08:25] kschrage commented on #46
It happened again. Response from server:
<!doctype html><meta charset=utf-8><title>A server error occurred</title>

<h1> I have nothing to offer for this request </h1>
<p> … but blood, toil, tears and sweat.
</p>
<p>And trying again later.</p>

[2017-05-10 00:59] cyrus86 opened #47 "--custom options does not seem to work"
Somehow it still prints "BETA" on the icon, even if I call the options:
`badge --dark --custom "DEV"`

[2017-05-10 04:41] cyrus86 opened #48 "script doesn't finde fastlane installed with homebrew"
no sure if and how I'm at fault, but even though fastlane is in my path, the script tries to find it through rubygems.
[code]

[2017-05-11 10:34] JanBrinker commented on #46
Had the same issue just now. I somehow _suspect_ I had this issue because of restoring my Mac from Time Machine and this doing bad things to Homebrew and ImageMagick.

Anyway, updating Imagemagick did not simply work for me.
However: removing all Imagemagick versions from Homebrew including its components and then reinstalling `imagemagick@6` **and** then installing `graphicsmagick` as well did th

[2017-05-11 13:25] HazAT commented on #47
Hey, `--custom` should be used by pointing to an actual file, like this example in the readme.
`--custom "path_to/custom_badge.png"`

[2017-05-11 13:25] #47 closed

[2017-05-11 13:28] HazAT commented on #48
Strange I am not really sure what's going on here.
You could try fixing it by adding a Gemfile and run `bundle install` and see if this helps.

[2017-05-12 12:48] cyrus86 commented on #47
Wow, that should have been obvious to me. thanks for answering and sorry for the trouble!

[2017-05-18 14:15] acecilia commented on #46
@JanBrinker I can not make it work with any solution explained in this issue :( Did any of you get it somehow?
Thanks!

[2017-05-18 14:42] acecilia commented on #46
@JanBrinker finally made it work by doing `brew install ruby` from brew (which updated my ruby version), reinstalling fastlane, reopening CMD session and finally installing `brew install imagemagick`

[2017-05-26 15:15] JonathanReid opened #49 "Shield.io .png occasionally isnt created correctly"
Sometimes, but not everytime, the .png created from shield.io is corrupt and un openable. I can see the shield .png before its applied to my icons and they can not be opened by my mac.

I get the following output:
`/Library/Ruby/Gems/2.0.0/gems/mini_magick-4.5.1/lib/mini_magick/image.rb:204:in rescue in validate!': 
[31m[!] identify /var/folders/t0/11ltw64s0jq64t1lbqnk9gw800007x/T/mini_magick2017

[2017-05-31 19:53] AnthonyMDev opened #50 "[!] Permission denied @ dir_s_mkdir"
Trying to use badge. Getting the following error:

[code]

[2017-06-07 17:42] kschrage commented on #49
I debugged it a while ago. Seems like shields.io's server gives an error page ("please try again..." instead of a valid png from time to time. After installing librsvg the error doesn't occur anymore because badge now requests svgs which seem to be more stable.

[2017-06-14 08:46] ashutoshsingh33 opened #51 "no_badge is not working in android ."
badge(glob: "/app/src/main/res/mipmap-*dpi/*.{png,PNG}",
      shield: "Version-#{value}-blue",
      no_badge: true)

[2017-06-15 14:56] JonathanReid commented on #49
yep, installing librsvg has fixed the issue, Badge is now a lot more stable.

Thanks!

[2017-06-15 14:56] #49 closed

[2017-06-16 09:25] funkybaboon opened #52 "badge --glob "res/ios/beta/Appicon/*" does not find any icons"
I have my icons in the folder `res/ios/beta/Appicon/*`, however badge doesn't find them with the glob option:

[code]
Why is `--glob` not working here?

[2017-06-29 07:07] HazAT commented on #52
I think since this is running in the `fastlane` folder you have to `../res/ios/beta/Appicon/*`

[2017-06-29 07:10] HazAT commented on #51
There is actually no difference for icons between iOS/Android, `badge` just manipulates pngs.
Is it still not working and are the shield on the icon?

[2017-06-29 07:11] HazAT commented on #50
Looks like ruby is not allowed to create a folder.
Maybe try this
https://github.com/bundler/bundler/issues/4590#issuecomment-220343182

[2017-06-29 07:12] funkybaboon commented on #52
I'm not using fastlane here. This is a Ionic 1 project, and the `res/ios/beta/Appicon` folder is where we keep our icons. It would be awesome to use badge here.

[code]

[2017-06-29 07:23] HazAT commented on #52
Oh I see, right, sorry about that.
Just looked at the source code again, the fix is to add a `/`
`badge --verbose --glob "/res/ios/beta/Appicon/*"`
Because I always take the executing path as "root".
`app_icons = Dir.glob("#{path}#{glob}")`
Sorry about the confusion.

[2017-06-29 08:55] funkybaboon commented on #52
Ah ok. Now it works. I've extended the documentation to include this info:
https://github.com/HazAT/badge/pull/53

[2017-06-29 08:56] #52 closed

[2017-07-03 13:56] HazAT commented on #48
Here is a shiny new comment.

[2017-07-03 13:58] HazAT commented on #48
Here is a shiny new comment.

[2017-07-06 15:27] ashutoshsingh33 commented on #51
@HazAT  yes now its working. It fault of my pngs . Thankyou.

[2017-07-21 10:35] mmynarski opened #54 "Multiple SVG files are only allowed for PDF and (E)PS output."
Got this error while using:

badge --shield "Version-$buildVersion \"$buildNumber\"-green" --dark --shield_geometry "+0+0" --shield_scale 1

It seems to be linked with [change](https://webadventures.at/2012/04/29/convert-svg-png/comment-page-1/index.html#comment-82061) in rsvg?

[2017-07-25 08:36] #51 closed

[2017-07-28 06:49] Bierrot opened #55 "Something went wrong while running badge"
Hi,

when I run badge through fastlane, I've got this error :

[code]

On my fastfile i've got this :

`badge(shield:get_version_number + “-” + get_build_number + “-blue”, custom: “fastlane/badge/black/dev.png”, shield_no_resize:true)`

Don't know what to do. Thank's for helping.

[2017-08-03 06:49] nommis commented on #55
I'm getting the same error, any idea @HazAT ? Thanks

[2017-08-05 08:26] ricardopereira opened #56 "Conflicts with mini_magick (~> 4.5.1) (Gem::ConflictError)"
It only happens while using `badge`. I don't know if this is a problem with `badge`. If not then please say so 😅

[code]

I uninstalled the mini_magick v4.8.0 and now it works.

[code]

Does `badge` need any sort of dependencies update?

[2017-08-13 01:39] wolfe719 commented on #55
We have gotten this error intermittently as well. One suggestion was that my image_magick install might not be the latest (it was not - but updating to the latest via brew did not fix this issue).

I use Fastlane to call the badge function, which uses a mini_magick gem (v4.5.1) to add two badges at the top of the application icons. This combination works most of the time (9 out of 10 times?)

Some

[2017-08-21 08:17] sergii-frost commented on #56
I agree. There are some issues with mini_magick 4.5.x - if fails quite often when validating image.

The latest version available is `4.8.0` but I can't update to this version, getting error like:

[code]

[2017-08-21 08:18] sergii-frost commented on #55
Getting exactly same behaviour.

Can't update to the latest version of mini_magick (which is `4.8.0`) while using bundle, as getting an error like:

[code]

[2017-08-21 09:39] rafalwojcik commented on #55
I have the same problem and it happens only sometimes. I try to recognize what raise it and shields.io sometimes respond to image request with a server error, I don't remember error code but it was something like 400 or 500. Then this is saved as png, so image magic can't resize something that is HTML file instead of png. So I think we should add checking request-response and if it is bad then try

[2017-08-21 11:19] rafalwojcik commented on #55
Ok I recognize error. shields.io respond sometimes with success code 200 and body:
`<!doctype html><meta charset=utf-8><title>A server error occurred</title>

<h1> I have nothing to offer for this request </h1>
<p> â¦ but blood, toil, tears and sweat.
</p>
<p>And trying again later.</p>`

So probably we need to check after download if downloaded file is image and if isn't then try to download one

[2017-08-22 06:06] HazAT commented on #55
This should be fixed with version `0.8.5` thx @rafalwojcik

[2017-08-22 06:06] #55 closed

[2017-08-30 14:38] ebridges opened #58 "Badge not updating after configuration changes"
The badge is not reflecting changes in configuration even if the generated images are deleted.  Seems like the configuration from fastlane is being cached somehow.

* Fastlane version `2.54.3`
* fastlane-plugin-badge `0.8.2`

Also getting two warnings.

1. At the very beginning of every run:
`Plugin 'Badge' overwrites already loaded action 'badge'`
2. Right before execution of the `badge` action:

[2017-09-19 10:29] HazAT commented on #48
I will close this now since this issue probably has nothing to do with this gem.

[2017-09-19 10:29] #48 closed

[2017-09-19 10:38] HazAT commented on #58
Hey, please upgrade to `fastlane-plugin-badge` `1.0.0`
The action has been renamed to `add_badge` which should resolve the conflict.

[2017-09-19 10:38] #58 closed

[2017-09-19 10:47] HazAT commented on #50
I will close this since this seems unrelated to this gem.

[2017-09-19 10:47] #50 closed

[2017-09-26 13:05] pvegh opened #59 "Single text in the badge"
Instead of using "Foobar-1.0.0-blue" to create a badge that looks like this: "Foobar **1.0.0**"
I want to get rid of the text/area on the right side: It doesn't seem to be documented or possible.

Currently I am using "Foobar--blue" as a workaround, which leads to a blue area without text in it on the right side. I want to get rid of this part.

Is this possible?

[2017-09-26 13:08] HazAT commented on #59
I think not, you can check out all possibilities here: https://shields.io/

[2017-09-26 13:08] #59 closed

[2017-09-26 13:33] ebridges commented on #58
thanks!  problem solved

[2017-10-06 10:24] bhavinmdesai opened #60 "Badge warning and errors"
Couple of issues:
1.  Getting warning: **This action (badge) is deprecated**
2. Build on the CI fails with: **Something went wrong while running badge: uninitialized constant Fastlane::Badge::Runner**

Please Help! Thanks

Here is the output from Fastlane:
[code]

[2017-10-10 11:45] tutipeti commented on #60
@bhavinmdesai `badge()` is the action that still exists in fastlane and is deprecated. Once you added the badge plugin to fastlane you'll have to change your code to use `add_badge()`, as that's the action defined in the plugin you just installed.

[2017-10-10 13:47] heavyauto commented on #38
@HazAT

Thanks for the great library. However, I'm facing the same problem here. what'sthe solution before you fixed the issue?

[code]

[2017-11-09 19:35] salmojunior commented on #55
I'm using `0.8.5` version but I'm still facing this issue but it is intermittent.

[2017-11-16 11:34] mamouneyya opened #61 "Passing Custom Params for Generating Shield"
Hello,

It would be very useful if we can pass custom params for generating the shield:

[code]

Reference: http://shields.io

Thanks!

[2018-01-22 19:13] nicollis opened #66 "Crashes when using fast lane and Carthage"
Crashes with the error below. Works when I delete the problem files from the checkouts folder.

Would be great if I could scope the Fastlane plugin to only change a defined assets folder

[code]

[2018-03-12 07:10] jschmid commented on #66
@nicollis you can already select the folder you want, with something like that:

[code]

[2018-03-23 16:13] jkirchner opened #67 "shield_io_timeout being used for retry wait time"
If you include a timeout parameter for the shield IO, it is currently being used for the retry time instead of the timeout.

In the attached screenshot you can see that I passed in a value of 300 (5 minutes) for the timeout parameter, but it is being used for the retry time instead.

![badge_error](https://user-images.githubusercontent.com/1939393/37840434-ad0efdec-2e82-11e8-9f01-406ce9823ac6.jpg)

[2018-04-05 08:41] ploureiro opened #71 "Badge_gravity not working"
Hello I tried to change the badge gravity and it always fail:

Here is the input:

`badge  --badge_gravity "South" --verbose`

Output:

The same always happens with any gravity orientation.

Fastlane Version: **fastlane-plugin-badge      | 1.1.0   | add_badge**
Badge version: **0.9.0**

[2018-04-05 08:56] HazAT commented on #71
cc @giginet

[2018-04-05 09:10] giginet commented on #71
So sorry. this is my blame 😭
I submitted a hotfix.
https://github.com/HazAT/badge/pull/72

Or you can just revert #69.

[2018-04-05 09:25] ploureiro commented on #71
Works like a charm! 🎉
-->thank's a lot for a so quick fix! 🙌

You can close this issue once #72 is merged!

[2018-04-05 12:31] #71 closed

[2018-04-18 01:22] Deno028 opened #73 "Could not find any app icons on android"
I use it in my React Native project with fastlane. It works fine on IOS but android.

**Console output:**
DEBUG [2018-04-18 11:16:42.08]: Parameters: {:dark=>true, :glob=>"/android/app/src/main/res/mipmap-*/ic_launcher.png", :alpha=>nil, :alpha_channel=>nil, :custom=>nil, :no_badge=>nil, :badge_gravity=>nil, :shield=>nil, :shield_io_timeout=>nil, :shield_geometry=>nil, :shield_gravity=>nil, :shiel

[2018-04-18 01:47] Deno028 commented on #73
Added "." at the beginning of path solved my problem. Not sure why the document mentioned only set "/" instead.

  add_badge(
      dark: true,
      glob: "./android/app/src/main/res/mipmap-*/ic_launcher.png",
    )

[2018-05-11 18:59] adamdahan opened #74 "This does not work with fast lane at all."
Do a fresh install of fastlane and then run the add_plugin badge -> verifies it loaded correctly. Throw add_badge in a lane and boom no such action.

More likely an issue with fastlane then badge but just a heads up this does not work - works standalone though :) so Thank you for that.

[2018-05-11 19:33] adamdahan commented on #74
As a matter of a fact.. the moment you add badge as a plugin the entire fastlane system breaks.

[2018-05-11 19:34] adamdahan commented on #74
Will move this issue to the fastlane repo

[2018-05-30 03:39] #74 closed

[2018-07-19 16:32] CRivlaldo commented on #28
In my case, I had the environment variables `http_proxy = XX.XX.XX.XX:XXXX` and `https_proxy = ...`
When I changed them to `http_proxy = http://XX.XX.XX.XX:XXXX` and `https_proxy = https://...` respectivle the issue has gone.

[2018-08-26 10:12] creati8e opened #76 "How to completely remove badge (and shield) and return back to original icons?"
Or is there an option to copy modified files? So i would be able to use different icons for debug and production builds

[2018-08-26 11:16] creati8e commented on #76
Or is there an option to copy modified files? So i would be able to use different icons for debug and production builds

[2018-09-07 07:43] NinjaRat84 opened #77 "Cannot add badge on Android 8 and 9"
Hi,

Badge does not seems to be added on versions 8 and 9 for Android which uses vector icons as ic_launcher_foreground and ic_launcher_background.

Should this be a future enhancement?

Best regards,
 H

[2018-09-13 17:03] eastsss opened #78 "Missing gem 'fastlane-plugin-badge'"
Hi! I can't get this plugin to work. After installing this plugin it still says the following (before the lane is actually executed)

[code]

and this at the line where i call add_badge action

[code]

I even tried adding `gem "fastlane-plugin-badge"` to Gemfile manually, but still the same error, nothing changes. How do i make it work? Thx in advance.

[2018-09-13 17:29] kevnm67 commented on #78
What does your gemfile look like/does it have the plugin logic below?   Did you run bundle install first?

[code]

[2018-09-14 09:28] eastsss commented on #78
Gemfile
[code]

Pluginfile
[code]

if i run `bundle install` i get following output
[code]

what am i missing?

[2018-09-14 09:49] eastsss commented on #78
ok, i did this https://github.com/fastlane/fastlane/issues/8431#issuecomment-288855027
and somehow it started to work... still don't get what was the problem though..

[2018-09-14 11:14] HazAT commented on #78
Thanks for clearing this up, closing.

[2018-09-14 11:14] #78 closed

[2018-09-20 21:08] razvangazi opened #79 "Cannot remove the "BETA" label with the no_badge property."
So I'm talking about:

"Add --no_badge as an option to hide the beta badge completely if you just want to add a shield." It does not work for me.

I tried this on a iOS app iOS v11.4.

Does anyone know how to fix this issue? Sorry if I forgot to mention some details, I'm not an iOS developer..

Thank you,

Raz

[2018-09-24 06:53] HazAT commented on #79
This should work, make sure to reset the files since one badge added something as an overlay to your image it stays there. Use `git checkout .`

[2018-09-29 16:33] razvangazi commented on #73
I'm getting the same issue, but adding the . did not fix it for me... Any suggestions?

[2018-09-29 16:37] razvangazi commented on #79
This worked, thank you very much !

[2018-09-29 16:37] #79 closed

[2018-10-08 12:37] Pmcneice commented on #77
+1

[2018-10-10 14:07] madyx commented on #77
+1

[2018-10-11 09:54] MuthukathiravanMurugasan commented on #77
+1

[2018-10-15 16:07] joh-klein opened #80 "--badge_gravity not working"
I just installed the current version 0.9.1 and can not for the life of me get "--badge_gravity" to work. I can see, that the argument is taken. But the icon still has the badge on the SouthEast corner, no matter which corner I specify.

Any ideas?

[2018-11-13 12:16] BrunoCerberus opened #81 "ERROR: Failed to build gem native extension."
Since I had installed macOS Mojave, I'm having problem to install badge with `sudo gem install badge`, follow the output:

`Brunos-MacBook-Pro:~ brunomello$ sudo gem install badge
Password:
Building native extensions.  This could take a while...
ERROR:  Error installing badge:
    ERROR: Failed to build gem native extension.

    current directory: /Library/Ruby/Gems/2.3.0/gems/curb-0.9.6/ext
/Sys

[2018-11-13 12:36] BrunoCerberus commented on #81
I solved this problem installing the Ruby latest versio, follow the tutorial `https://stackoverflow.com/questions/38194032/how-to-update-ruby-version-2-0-0-to-the-latest-version-in-mac-osx-yosemite`

[2018-11-13 12:36] #81 closed

[2018-11-16 14:09] buguibu commented on #76
I guess there is no built in option for that, what i'm doing is:

1. rollback to original icons
2. keep using badge as usual
3. after build and release process gets done and before commiting build changes to repo i do something like this:
`reset_git_repo(
  force: true,
  files: [
    "./resources/Assets.xcassets/Appicon.appiconset/"
  ]
)`

[2018-11-19 23:38] elvin-vega opened #82 "Badge is not converting the shield image *.svg.png"
Recently I was involved in a project to implement for our in house releases badges and shields.

When we execute badge command (ex. `badge --shield "3.4.0-blue" --dark true`) we get the following error:
| => badge --shield "3.4.0-blue" --dark true
[19:21:24]: Start adding badges...
[19:21:25]: './AppIcon.appiconset/Icon-App-60x60@2x.png'
[19:21:25]: './AppIcon.appiconset/Icon-App-60x60@2x.png'
dyl

[2018-11-20 18:02] elvin-vega commented on #60
I have a similar error when I download in my machine 'fastlane-plugin-badge' version 1.1.0 an execute `rake`.
| ~/Dev/source/fastlane-plugin-badge-master
| => rake
${HOME_DIR}/.rbenv/versions/2.5.1/bin/ruby -I${HOME_DIR}/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/rspec-support-3.8.0/lib:${HOME_DIR}/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/rspec-core-3.8.0/lib ${HOME_DIR}/.rbenv/versions/

[2018-11-20 18:05] elvin-vega commented on #60
I have a similar error when I download in my machine 'fastlane-plugin-badge' version 1.1.0 an execute `rake`.
_____________________________________________________________________________________________________
| ~/Dev/source/fastlane-plugin-badge-master
| => rake
${HOME_DIR}/.rbenv/versions/2.5.1/bin/ruby -I${HOME_DIR}/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/rspec-support-3.8.0/lib:${HOME

[2018-11-22 11:16] creati8e commented on #76
@buguibu simplify your life! I've create a plugin that fits this gap: https://github.com/CleverPumpkin/App-Badge

[2018-11-22 12:05] buguibu commented on #76
@creati8e ouch! i'm working on iOS but will tell to my Android coworker. Thanks anyway.

[2018-11-27 18:19] elvin-vega commented on #52
@HazAT I'm using badge with glob option. Badge throw a message "Could not find any app icons...". Below is the badge command I'm using:
`badge --shield "Version:-3.5.0.318-blue" --dark true --shield_no_resize true --glob /Users/<HOME_FOLDER>/Dev/source/Images/Images.xcassets/AppIcon.appiconset/*.{png,PNG}" `

I have similar approach in fastfile throw the same message. Below is how I have it config

[2018-11-27 20:33] HazAT commented on #76
I am closing this since this plugin is made to be used either on a CI or with CVS in place where you can revert your changes.
It's not an actual bug and I don't really want to maintain this as a feature.

[2018-11-27 20:33] #76 closed

[2018-11-27 20:35] HazAT commented on #82
Closing this for now, if you have interest providing a repro case for this I will try to fix it.
Thanks for posting your fix though.

[2018-11-27 20:35] #82 closed

[2018-11-27 20:37] HazAT commented on #60
I am closing this since @tutipeti posted the answer.
@elvin-vega Please create a new issue with a proper reproduction case so I can take a look at this issue.

[2018-11-27 20:37] #60 closed

[2018-11-27 20:37] HazAT commented on #66
Closing this since the issue seems to be resolved with `glob` option.

[2018-11-27 20:37] #66 closed

[2018-11-27 20:38] HazAT commented on #73
Closing this since the issue seems to be fixed.

[2018-11-27 20:38] #73 closed

[2018-11-27 20:41] HazAT commented on #67
It's used for both 😅
Ideally, this should never occur but shield.io sometimes is very flakey, the second request is usually cached and almost instant.
Closing this since I do not really want to add a new option just for this "rare" case.

[2018-11-27 20:41] #67 closed

[2018-11-27 20:45] HazAT commented on #61
Fixes by referenced PR.
Will make a new release.

[2018-11-27 20:45] #61 closed

[2018-11-27 20:51] HazAT commented on #77
Can you please provide a bit more info to this issue.
What file format is it? It should support SVG, maybe to fix is a simple one.

[2018-11-27 21:04] HazAT commented on #80
I just tried it with
`ruby bin/badge --no_badge --glob "/assets/icon175x175_fitrack.png" --shield "Version-0.0.3-blue" --shield_gravity South`
and it worked perfectly fine.
You can run this command when you clone this repo.

Please provide a repro case for this.

[2018-11-27 21:04] #80 closed

[2018-11-27 22:47] elvin-vega opened #83 "Could not find app icons with glob option"
@HazAT I'm using badge (version 1.1.0) with glob option.

Badge throw a message "Could not find any app icons...". Below is the badge command I'm using:
`badge --shield "Version:-3.5.0.318-blue" --dark true --shield_no_resize true --glob /Users/<HOME_FOLDER>/Dev/source/Images/Images.xcassets/AppIcon.appiconset/*.{png,PNG}" `

Same behavior using fastlane_plugin_badge. Below is how I have it config

[2018-11-28 08:08] Pmcneice commented on #77
They're Android vector drawable resources - the files are XML files.

Here's the Android documentation that explains about Adaptive Icons on Android 8: https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive

Here's an example of a vector resource:

[code]

Which was taken from this page: https://developer.android.com/guide/topics/graphics/vector-drawable-resources

Androi

[2018-11-28 10:03] HazAT commented on #83
Because I coded it badly, I probably gonna make a breaking change release changing this because many people run into this.

It's because of this:
https://github.com/HazAT/badge/blob/cf668aac56b6144d75c12ddee7acbac22a2a1462/lib/badge/runner.rb#L16

I always prepend the current path, simple fix would be to check if the passed path into glob contains a trailing slash and then don't do it, but it woul

[2018-11-28 10:03] #83 closed

[2019-02-07 10:12] okarakose commented on #77
I have the same issue.

I'm trying to support Adaptive icons on Android. In adaptive icons, there are different launcher icons are generated. so, **I am trying to add badge and shield** to all of them like below code snippet :

[code]

Badge is looking okay but shield ( I am using shield for build number ) does not seem on adaptive icons. I need to add something like **shield_geometry "+0+25%"** b

[2019-03-29 09:28] rainedAllNight commented on #76
Will this plan work for iOS?

[2019-05-03 14:21] Pranit-Harekar opened #84 "Ability to change badge text"
I was wondering if we can change the badge text. Like instead of alpha/beta I would like to add "unstable" badge, so how can I do that?

[2019-05-15 10:55] HazAT commented on #84
I will not add this since there are literally unlimited possibilities, instead, you just can pass your custom image see readme:
`badge --custom "path_to/custom_badge.png"`

[2019-05-15 10:55] #84 closed

[2019-05-28 08:50] PH9 opened #85 "It seem like vastest version is internet required"
My company didn't allow that flow our pipeline is fail.

Do you have any suggestion ?

[2019-07-09 15:43] avegrv commented on #38
Same problem

[2019-07-10 11:12] balazs630 commented on #38
@HazAT
The problem might be that: https://www.shield.io/ is not available currently.

[2019-07-10 16:48] guthyerrz opened #88 "Failed to add badges"
All of a sudden Jenkins builds that worked perfectly all of a sudden started to return this error wile adding badges to icons

[09:44:13]: Error validating image from shields.io. Use --verbose for more info
[09:44:13]: Waiting for 10s and retry to load image from shields.io tries remaining: 10

Did something change in the shields.io website?

[2019-07-11 02:47] koji12000 commented on #88
The same problem happened in my environment.
Accessing png url of badge, another url will be redirected.

- png url
  - https://img.shields.io/badge/4.0.6.QA-STG.103-blue.png
- redirect url
  - https://raster.shields.io/badge/4.0.6.QA-STG.103-blue.png

It seems that redirect doesn't work.

[2019-07-11 07:52] liamnichols commented on #88
Resolved in #38

[2019-07-11 09:05] liamnichols commented on #88
Another solution is to install the additional dependencies in order to use svg images that download from a direct source without redirects.. On your machine just run

[code]

As a bonus, you'll get better quality shields also

[2019-07-16 07:24] tijs commented on #88
Created a PR to replace the URL with the alternate mentioned in https://github.com/HazAT/badge/pull/87 The fix added to master recently did not help to fix this issue for us.

[2019-07-16 07:26] tijs commented on #88
This method also did not work for us i'm afraid, the needed libs could not be found after compiling librsvg on a build machine.

[2019-07-17 08:06] nerdaliciousCH commented on #38
Same problem. I cannot tell more, because the error doesn't say anything meaningful to me.

DEBUG [2019-07-17 10:02:16.52]: Parameters: {:shield=>"dev-B1-orange", :alpha=>true, :glob=>"/android/**/res/**/ic_launcher.{png,PNG}", :shield_scale=>"0.8", :dark=>nil, :alpha_channel=>nil, :custom=>nil, :no_badge=>nil, :badge_gravity=>nil, :shield_parameters=>nil, :shield_io_timeout=>nil, :shield_geometry

[2019-07-17 09:17] oronbz commented on #38
Same issue here:
Error validating image from shields.io. Use --verbose for more info

[2019-07-22 09:28] aidanw opened #90 "MiniMagick before 4.9.4, a fetched remote image filename could cause remote command execution"
I am using this with fastlane and it has been great. However Githubs new auto security bot is telling me that the mini_magick version specified (4.5) has a vulnerability and needs updated.

This is the issue found
https://nvd.nist.gov/vuln/detail/CVE-2019-13574

[2019-07-26 17:37] leopic commented on #90
For what is worth, this probably not very Gucci but I manually updated the dependency for my (iOS only) project and the gem is still working. I updated to `mini_magick (>= 4.9.4, < 5.0.0)`

[2019-07-29 20:39] Zaszczyk commented on #88
I have this same problem.

[2019-07-30 08:26] HazAT commented on #90
Should be fixed in `0.11.0`

[2019-07-30 08:26] #90 closed

[2019-07-30 08:28] HazAT commented on #88
Should be fixed in `0.11.0`

[2019-07-30 08:28] #88 closed

[2019-07-30 08:29] HazAT commented on #56
Should be fixed in `0.11.0`

[2019-07-30 08:29] #56 closed

[2019-07-30 08:30] HazAT commented on #85
If you don't add a version "badge" and just overlay an image it should fetch anything from the internet. Please provide a repro case.

[2019-07-30 08:30] #85 closed

[2019-07-30 08:46] NachosSs commented on #38
Same problem here... Do you find a solution ? Thanks

[2019-07-30 10:23] HazAT commented on #38
@NachosSs Can you try `0.11.0`

[2019-07-30 11:19] NachosSs commented on #38
Thanks, it works on `0.11.0`. Can you release a "fastlane-plugin-badge" version please?

[2019-07-30 11:33] HazAT commented on #38
@NachosSs When updating the dependencies / for new installs it should work out of the box.

[2019-07-30 11:42] HazAT commented on #38
`1.3.0` fastlane pluging released

[2019-07-30 13:02] NachosSs commented on #38
Perfect Thanks !

[2019-08-06 20:51] leopic commented on #90
Thank you

[2019-08-09 12:32] changLiuUNSW opened #91 "fastlane-plugin-badge 1.3 is broken"
I just upgrade from fastlane-plugin-badge 1.2 to fastlane-plugin-badge 1.3 and the badge is broken

before
<img width="89" alt="Screen Shot 2019-08-09 at 10 30 48 pm" src="https://user-images.githubusercontent.com/7379922/62779066-75f11b00-baf5-11e9-9f44-b78590c79519.png">

after
<img width="100" alt="Screen Shot 2019-08-09 at 10 29 12 pm" src="https://user-images.githubusercontent.com/7379922/627

[2019-08-09 13:29] changLiuUNSW commented on #91
After some research, the issue is caused by ```pango 1.44.3``` which is one of the dependencies of ```librsvg```.  It was working fine with ```pango 1.42.4```.
I cannot raise the issue on their github page https://github.com/GNOME/pango, because they disabled it.
Does anyone have the same issue and find a workaround for this issue?

[2019-08-09 13:39] changLiuUNSW commented on #91
The workaround for now is to uninstall ```librsvg``` and use default ```graphicsmagick```

[2019-08-17 16:46] techinpark commented on #91
@changLiuUNSW same issue. do you find any solution with using librsvg ?

[2019-08-18 01:46] changLiuUNSW commented on #91
@techinpark no solution.

Can we raise the issue to that link?

[2019-08-29 21:20] julianch commented on #91
Could you tell me how to use `graphicsmagick`? I uninstalled `librsvg` but I get this error:

[code]

[2019-08-30 08:45] PatrickDotStar commented on #91
@julianch have you install graphicsmagick? `brew install graphicsmagick`

[2019-08-30 13:29] julianch commented on #91
@PatrickDotStar Yes, I have `graphicsmagick` installed and I'm still getting that error.

[2019-09-02 04:42] futabooo commented on #77
+1

[2019-09-04 05:43] Gremkow commented on #91
I am experiencing the same error as @julianch . I have graphicsmagick 1.3.33 installed. Sadly this does not seem to be a workaround (or might need some more configuration I am not aware of).

[2019-09-04 05:50] techinpark commented on #91
@julianch how to you run badge?  `fastlane plugin` or `standalone` ?

[2019-09-04 06:01] Gremkow commented on #91
`		add_badge(
			dark: true,
			shield: "Version-#{options[:app_version]}-blue",
			glob: "/path/to/png"
		)`
I use badge inside the fastfile like this.

[2019-09-04 06:20] techinpark commented on #91
@Gremkow (cc @julianch )
In my case, i have same problem like yours.

### Solution
1. Open Terminal and make badge icon
 - `badge --shield Version-#{app_version}-blue -- dark`

2. remove add_badge line in `fastfile`

[2019-09-04 08:18] Gremkow commented on #91
@techinpark Thanks for your advise, when trying to run your command (with a removed whitespace between -- and dark) inside the folder containing the .png, badge does not find any icons.
Anyway, we probably will need to get a solution working using the fastfile, since running manual commands is not something we want to do in our automation process, if possible.
If we find a solution to this which w

[2019-09-04 09:45] filipef101 commented on #91
using librsvg solved but the badges look blury, any idea to make them less blury?

[2019-09-06 09:29] Gremkow commented on #91
I got it working by

- manually deleting /usr/local/Cellar/pango
- manually deleting /usr/local/Cellar/librsvg

Copying /usr/local/Cellar/pango & /usr/local/Cellar/librsvg from a working machine (older formula versions: librsvg 2.44.14_1, pango 1.42.4_2) to a non working machine.

- running brew link pango
- running brew link librsvg

This might be a work around if you have access to the older ver

[2019-09-24 11:24] wiedem commented on #91
Easiest solution if you're using homebrew:
`brew switch pango 1.42.4_1`

[2019-09-24 12:59] wiedem commented on #91
Yes.
In case you've already cleaned up the previous version, run the following command first:
`brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/7cf3b63be191cb2ce4cd86f4406915128ec97432/Formula/pango.rb`

[2019-09-25 05:59] techinpark commented on #91
@wiedem Thanks for solution!

Here is my solution. open the Terminal and type it commands.

### Solution

[code]

[code]

[code]
[code]

- Enjoy it :tada:

[2019-10-04 14:09] adelmojunnior commented on #91
@techinpark The 'alpha' or 'beta' label no more generate.

[2019-10-16 22:51] aitor commented on #91
I've reported this:
* [pango based gnuplot terminals font issues on macos
](https://gitlab.gnome.org/GNOME/pango/issues/422)
* [Any scaling leads to bad text kerning on OSX
](https://gitlab.gnome.org/GNOME/librsvg/issues/520#note_627033)

[2019-11-07 10:39] czater commented on #77
It doesn't work for me even if I badge for `ic_launcher.png`, `ic_launcher_foreground.png` and `ic_launcher_round.png`. On older version of android it works like a charm.

[2019-12-24 03:08] czater opened #93 "In 90% of cases, adding a badge fails."
Hi!
Recently I noticed that adding a badge is failing in 90% of times.
This is the log that I am receiving:

What could be the reason for this? Did shield.io change something in their API?

[2020-01-08 12:08] #93 closed

[2020-01-09 13:35] olcayertas opened #94 "no decode delegate for this image format `APPICONSET'"
Using this command:

`badge --dark --glob "/MyApp/Assets.xcassets/AppIconTest.appiconset"`

Getting this error:

[code]

[2020-01-17 08:53] pvinis opened #96 "Alpha text has different color than Beta"
If you check the assets dark png for alpha and beta, the colors of the text is different. Alpha is more grey.

[2020-01-17 09:33] HazAT commented on #96
Hey @pvinis 😅
Will try to fix this when I find time

[2020-02-28 07:53] CMJunghoon commented on #91
Solution
`brew uninstall librsvg`
`brew uninstall pango`

[2020-03-09 14:02] liamnichols opened #97 "Remove 'fastlane' as a runtime dependency in badge.gemspec"
As per #36 and fastlane/fastlane/issues/7412, the `badge` gemspec should not have a dependency on `fastlane` since this causes a dependency cycle when requiring the fastlane-plugin-badge plugin.

For most people, this goes unnoticed, but in my particular case the `fastlane` gem now has a dependency on `aws-core` and so does another plugin of mine and this causes bundler to get into an infinite loo

[2020-03-10 07:09] osamaq commented on #77
Here is my configuration. Hoping it would help anyone out:

[code]

### Output
[Android Studio](https://i.imgur.com/a9906kw.gif)

### On Android 9 phone
![screenshot](https://i.imgur.com/bhJyRhKm.png)

[2020-03-10 18:46] KeiroMidori commented on #94
Your command is incorrect it should be: `badge --dark --glob "/MyApp/Assets.xcassets/AppIconTest.appiconset/*.{png,PNG}"`

[2020-03-17 16:53] akhenda commented on #80
`--badge_gravity` also not working for me but `--shield_gravity` is working.

[2020-03-18 06:41] ivanzoid opened #99 "Can't install on Mojave: signet requires Ruby version >= 2.4.0"
On macOS Mojave (10.14.6):

[code]

[2020-04-08 00:20] gwmccull commented on #77
I'd love to see this fixed. Does anyone have ideas on what needs to be done?

[2020-04-08 07:13] liamjones commented on #77
I suspect the problem with later Android versions is that the plugin doesn't support badging of [adaptive icons](https://developer.android.com/studio/write/image-asset-studio#create-adaptive).

Either that would need to be done or, as a workaround, you could remove the adaptive icon files in your badged builds and later versions of Android would then fall back to using the legacy launcher icon ins

[2020-04-10 16:52] hyei commented on #77
This is what I finally did after reading conflicting reports of badging partially working on adaptive icons. I suspect all of those reports were from people testing pre-8 devices or did not have adaptive icons setup properly. I ended, copying the mipmaps to the res/<ProductFlavor> directory for our staging flavor, and only using the adaptive icon format for production.

[2020-04-10 17:49] gwmccull commented on #77
@hyei thanks, I'll take a look at that

[2020-06-17 23:30] jdcookie commented on #73
I needed a slight tweak, and maybe this is useful for anyone else searching here, scoped it just to the 'android' folder so it didn't overwrite my originals (multi-tenant app with many different tenants and source files) and covers the round icons too.

[code]

[2020-07-14 21:51] marcosgriselli commented on #91
Is anyone experiencing issues with `brew install librsvg`? We're using @techinpark and our CI started failing there out of the blue with no visible error.

[2020-07-14 22:04] fruitcoder commented on #91
@marcosgriselli Happened to me a couple of days ago. I used the built in brew install step of Bitrise and some caching which I disabled and replaced everything related to librsvg with a shell script:
[code]

I don't know if it helps (I think it's been posted before)

[2020-07-15 02:15] marcosgriselli commented on #91
@fruitcoder thanks! You pushed me in the right direction. I was using the script step but left the `set -e` line which was probably reporting a false error and failed the step with no reason. Removed it and the installation is working again and the badge looks perfect.

[2020-07-30 20:14] dandre-hound commented on #73
I actually had to remove the leading `.` in my case:
[code]

[2020-08-01 16:16] rares-lupascu commented on #84
too bad ... i now need to find or create image just because I want the text to say: "dev" / "staging" ... again ... too bad ... since I assume it is only a matter of excepting a param for the text

[2020-09-15 08:59] aitor commented on #91
I can confirm that. although the reported issues are still open, pango 1.46.1 fixed the font tracking problem for us and we are using off-the-shelf dependencies configuration again for badge.

[2020-09-16 09:37] leonardarnold commented on #91
I came across the issue today and i resolved it with:

`brew upgrade librsvg`

Thanks @aitor for the effort here

[2020-09-17 11:30] fruitcoder commented on #91
I can confirm that the stable version of pango is working and the issue could be closed

[2020-09-17 14:20] benkane commented on #91
I can also confirm this is no longer an issue with the latest version of librsvg on homebrew. I think this can be closed

[2020-09-18 03:33] hahtml commented on #91
I can confirm this issue has been fixed on my side as well!

[2020-10-06 20:55] ssilverr opened #102 "LoadError: incompatible library version"
fastlane (2.162.0)

Any command involing add_badge fails,
including fastlane action add_badge with:

[code]

[2020-10-07 08:39] ssilverr commented on #102
So I've updated fastlane, installed rvm, used ruby 2.7 and now it works

[2020-11-11 13:42] phisakel commented on #91
brew install --build-from-source https://raw.githubusercontent.com/Homebrew/homebrew-core/a8ac7ea5/Formula/pango.rb
==>
Error: Calling Installation of pango from a GitHub commit URL is disabled! Use 'brew extract pango' to stable tap on GitHub instead.

[2020-11-11 13:52] benkane commented on #91
@phisakel straight up `brew install librsvg` works now and will give you a working version of pango. No need to manually install a different version

[2020-12-08 21:49] isaac-tribal commented on #77
@osamaq wonderful!.  The `glob: "/app/src/main/res/mipmap-*/ic_launcher*.png",`
works with fastlane even when real directory would be `"../app/src/main/res/mipmap-*/ic_launcher*.png"`

[2021-01-11 04:11] harasai commented on #77
I can see the icons updating with the shield with config and version values, at locations src/main/res & src/debug/res, After build and installed the app, I can see the shield values on app icon for android 7 and  doesn't see them in Android (> 8). May I know is there any update on this.

plugin version used: fastlane-plugin-badge 1.4.0
l
 lane :android_shield do |options|
    add_badge(
      shi

[2021-01-11 08:27] liamjones commented on #77
@harasai see my comment [above](https://github.com/HazAT/badge/issues/77#issuecomment-610792399), the plugin doesn't badge adaptive icons (probably in your project as ic_launcher*.xml)

[2021-01-14 10:37] StanislavBondar commented on #77
As workaround for adaptive icons i'm using only `glob: "/app/src/main/ic_launcher-playstore.png"` for creating badge. And then using it to create icons with `New -> Image Asset` option from Android Studio which generates all icons correctly

[2021-01-14 14:35] bobsmits commented on #77
I could not get the default badge reasonably positioned for both IOS and Android adaptive and Android legacy icons. So i created a new set of badges. For anyone who is interested

https://github.com/bobsmits/gem-badge-adaptive-icon-set/tree/main

[2021-01-22 17:13] harasai opened #104 "Badge is updating AppIcons from one of pods directory"
In one of iOS project, pods have google maps images and when executing the badge lane, along with project App icons , google maps images overlaying with shield. ./Pods/GoogleMaps/Example/GoogleMapsDemos/MapsDemoAssets.xcassets/AppIcon.appiconset/Maps-SDK-Demo-App_180.png'

How to exclude the path.

[2021-01-25 20:50] harasai commented on #104
Fixed this by adding --glob and specifying path

[2021-01-25 20:50] #104 closed

[2021-02-02 13:58] osrl opened #105 "Doesn't work on Apple Silicon"
Here is the traceback:

[code]

[code]

[2021-02-19 13:27] alexookah commented on #84
@rares-lupascu
At least you could provide us a template photoshop file for photoshop to change the text

[2021-02-19 16:01] lalkrishna opened #106 "Fastlane action incorrect behaviour when setting glob value."
Fastlane action:
`add_badge(shield: "Version-0.0.3-blue", no_badge: true, shield_scale: "0.75", glob: "/../Assets\ test/*.appiconset/*.{png,PNG}")`
changes files in `./../Assets test/AppIcon.appiconset/` directory.

But the same action worked as expected:
`badge --shield "Version-0.0.5-blue" --dark  --shield_scale 0.75 —glob "/../Assets\ test/*.appiconset/*.{png,PNG}"`

[2021-02-22 12:45] stuffmc commented on #105
Hey @HazAT anything new? ;-)

[2021-03-02 22:05] #102 closed

[2021-03-19 21:24] HazAT commented on #105
Hey
Feel free to open a PR, I currently don't have time to fix this.
Any help is appreciated
Cheers

[2021-04-08 00:23] DreamPWJ opened #108 "fastlane-plugin-badge Git code is automatically removed？"
When my IOS project introduced a private repository, the code in this folder was not managed by git, whenever it was executed

This folder will be deleted when the Fastlane plugin badge action is executed

[2021-04-08 00:24] DreamPWJ commented on #108
add_badge(shield: options[:type] + "-" + options[:version] + "_" + options[:build_num] + "-blueviolet",
            shield_parameters: "colorA=orange&style=flat-square", shield_io_timeout: 20,
            shield_scale: "0.72", shield_gravity: "South", shield_geometry: "+0+50%",
            dark: false, no_badge: true,
            glob: options[:glob])

[2021-04-09 15:43] Chasty opened #109 "Can't Install With Gem"
ERROR:  Error installing badge:
ERROR: Failed to build gem native extension.

You have to install development tools first.
	from /System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0/mkmf.rb:546:in `block in try_link0'
	from /System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0/tmpdir.rb:93:in `mktmpdir'
	from /System/Library/Frameworks/Ruby.framework/Versio

[2021-04-22 14:56] bukira commented on #106
changes files in ./../Assets test/AppIcon.appiconset/ directory. <--- do you mean DOESNT change? as this doesn't work for me says
 _"Could not find any app icons..."_

[2021-04-26 13:07] zie-marco commented on #77
Using this glob configuration, all mipmap launchers in the .png format were badged correctly.

I then **moved all adaptive launcher icons (*.xml) to the prod source set**, which resulted in Android falling back onto the badged icons for non-prod builds.

Unfortunately, that way, Samsung (and probably other) phones will squeeze the icon into their adaptive form. The badge is still readable, but it

[2021-07-20 09:07] mistdon opened #111 "Error loading image from shields.io response Error"
Cannot download svg image because of 403 [Forbidden]

DEBUG [2021-07-20 17:03:45.44]: Verbose active... VERSION: 0.13.0
DEBUG [2021-07-20 17:03:45.44]: Parameters: {:shield=>"--orange", :dark=>true, :alpha=>nil, :alpha_channel=>nil, :custom=>nil, :no_badge=>nil, :badge_gravity=>nil, :shield_parameters=>nil, :shield_io_timeout=>nil, :shield_geometry=>nil, :shield_gravity=>nil, :shield_scale=>nil, :

[2021-08-17 07:13] amityadav12239 commented on #111
I am also facing the same issue. Why does it complain and how to fix it is not clear. Please suggest.

[2021-08-17 12:31] reversepanda commented on #111
I can confirm the issue. I tried calling badge directly from the command line and it worked without timeout. Started from fastlane it will yield above error and retry every 10s for 10 times.

[2021-08-26 11:42] gtatgh opened #112 "stream closed in another thread (IOError) in mini_magick"
I installed imagemagick as stated in README in section "Common problems" on macOS 11.5.2 (20G95) and run badge. Unfortunately I got the following error message:

[code]

So after searching old issues I found that GraphicsMagick can be used as an alternative. So I installed GraphicsMagick using the following command:

[code]

The next time I ran badge, it was able to run it without error messages.

[2021-11-03 21:07] BrettThePark opened #113 "Badge_Gravity has no effect"
In the current release, --badge_gravity has no effect (note: --shield_gravity works).

The reason for the "failure" is that the default badges are the same aspect ratio as standard icons (they aren't "generated") and are fitted here:
https://github.com/HazAT/badge/blob/6062134a57d9f149949653cf20b0194cfac8bc0b/lib/badge/runner.rb#L179

So the badge gravity "feels" like it has no effect. If a custom

[2021-11-26 01:48] Kernelzero opened #114 "is it possible to using badge per schemes?"
my project has 2 schemes. not targets.
They are for beta and canonical.

I wanna change icon of my beta app only.
but now use this plugin with fastlane, AppIcon asset changes that applied badge.

[2021-12-07 11:27] otusweb commented on #109
@Chasty  see https://stackoverflow.com/questions/27768420/gem-installation-error-you-have-to-install-development-tools-first for potential help.

[2022-01-13 18:42] justdan0227 opened #115 "--no_badge not working"
So I added a badge and with

badge --alpha
badge --shield "Version-0.0.3-blue"

and want to remove all badges with
badge --no_badge

However getting:

$ badge --no_badge
Ignoring racc-1.5.2 because its extensions are not built. Try: gem pristine racc --version 1.5.2
[13:42:07]: Start adding badges...
[13:42:07]: Did nothing... Enable --verbose for more info.

[2022-01-17 21:06] justdan0227 commented on #115
So I see that you can use git checkout -- Assets.xcassets, however what if you update your assets and then need to revert

[2022-01-19 23:49] justdan0227 commented on #113
I can confirm.  Is anyone updating this repo any longer

[2022-01-19 23:50] justdan0227 opened #116 "Change Wording of Alpha Beta"
How do you change the word on the banner to something like DEV ?

[2022-02-04 05:52] sweepty opened #117 "Jenkins can't find imagemagick"
I installed librsvg, imagemagick, graphicsmagick on my jenkins machine.
It works well in command line, but the error occurs when using jenkins.
What's problem in my case? Help me.

My jenkins machine is MacBook Pro(2021), Apple M1 Pro chip.
Here's my log and settings.

#### jenkins console log
[code]

#### .zshrc environment variable settings
[code]

#### brew list
[code]

[2022-02-07 12:13] HazAT commented on #116
You can't for that you need to use the shield text

[2022-02-07 12:13] #116 closed

[2022-02-07 12:15] HazAT commented on #115
--no_badge is not meant to remove existing badges, it just doesn't add beta/alpha.
You need to use git for that if you want to revert. Badge is designed to run on a CI where the changes to the icon are lost.

[2022-02-07 12:15] #115 closed

[2022-02-07 12:16] #109 closed

[2022-02-07 12:18] HazAT commented on #117
This is almost certainly an environment issue with your Jenkins installation / runtime.

[2022-02-07 12:18] #117 closed

[2022-02-07 12:20] HazAT commented on #116
You could use badge `--custom "path_to/custom_badge.png"` tho to use your own image.

[2022-02-07 12:21] HazAT commented on #117
Did you add this to your job environment?
`PATH=$PATH:/usr/local/bin`

[2022-02-07 12:23] HazAT commented on #112
You can opt out using svg and use imagemagick instead with pngs
No other alternative sorry

[2022-02-07 12:23] #112 closed

[2022-02-07 12:24] HazAT commented on #106
yeah I know this is a bit confusing but changing this will break more now.

[2022-02-07 12:24] #106 closed

[2022-02-07 12:25] HazAT commented on #114
You can try to use `—glob` parameter and adjust it to your needs to only filter icons you want to be changed.

[2022-02-07 12:25] #114 closed

[2022-02-07 12:25] #96 closed

[2022-02-07 12:26] HazAT commented on #97
See https://github.com/HazAT/badge/pull/98#issuecomment-1031413213

[2022-02-07 12:26] #97 closed

[2022-02-08 03:46] sweepty commented on #117
Yes I did. But it still not working.
I agree with you that this is a Jenkins environment issue. For a few days, I looked for a solution, but I have not found it yet..
So I removed badge action in my fastfile, and added a new AppIcon asset applied badge action to my project.
Thanks for your help.

[2022-03-29 09:59] Tayphoon commented on #111
+

[2022-03-30 11:50] badgeek commented on #111
i can confirm this

[2022-05-10 07:04] suesitran commented on #113
same issue, waiting for update

[2022-05-24 06:08] nvx commented on #111
Looking at the SVG output from shields.io, surely it wouldn't be hard to replace shields.io with locally generated SVGs which would increase the reliability of this immensely.

Alternatively being able to point to a different server where you could implement your own equivalent functionality. At the moment it looks like the shields.io domain is hardcoded.

@HazAT Would you be interested in either

[2022-06-07 11:45] HazAT commented on #111
@nvx I mean locally would be better, maybe as a fallback. Not sure tho how much work it is 😅
Pointing to another server sounds cool but in reality, who has something like this?

[2022-06-07 12:00] nvx commented on #111
I mean the shields.io code is open source, they've even got a guide on hosting your own: https://github.com/badges/shields/blob/master/doc/self-hosting.md

At least personally I'm already running Jenkins with multiple build slaves, running a local shields server in a docker container wouldn't be hard, especially if not running the raster server component.

[2022-08-24 02:27] wjiuxing commented on #38
Same problem here...
I am using fastlane-plugin-badge v1.5.0. Thanks.

[code]

[2022-09-27 19:39] master-lincoln commented on #111
I was experiencing the same issue on a MacOS Jenkins build machine and found it's because an IPv6 address is resolved for the host which does not answer:
[code]
Using the IPv4 address worked:
[code]

I was trying this from 2 different networks, so it seems the server of `img.shields.io` is not answering on port `443` for neither of the resolved IPv6 IPs `2606:4700:e4::ac40:ae10` or `2606:4700:e4::

[2022-09-28 08:58] pke commented on #111
@master-lincoln you can use self-hosting and give badge the base URI of your server to perform its queries.

However I wonder if that issue can be even solved here, since the wget is performed by imagmagick. So shields.io need to fix their IPv6 config.
I have [filed a ticket](https://github.com/badges/shields/issues/8441) over there.

[2022-09-28 10:15] master-lincoln commented on #111
Thanks for opening a ticket in the right place :heart:

But how? All I could see was that this is a hardcoded value: https://github.com/HazAT/badge/blob/master/lib/badge/base.rb#L30-L36